
composer.phar
composer.lock
vendor
wp-content/upgrade/
wp-content/index.php
wp-admin
wp-includes
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-links-opml.php
wp-load.php
wp-cron.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php